<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Welcome to [JDL]techworks</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="page">
  <div class="page-inner">
    <header class="header">
      <div class="inner">
        <nav class="navbar">
          <div class="navbar--brand">
            <a href="#"><img src="img/logo.svg" alt="JDLtechworks Logo"></a>
          </div>
          <div class="navbar--menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Programming</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <section class="main">
      <div class="main--banner">
        <!--Banner items-->
      </div>
      <div class="main--inner">
        <div class="main--content">
          <div class="article--type">
            <img src="img/platform/nodejs.png" alt="nodeJs">
          </div>
          <h2><a href="">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></h2>
          <p>Aliquam in malesuada felis. Morbi egestas interdum condimentum. Maecenas non orci vel tortor faucibus porta. Vivamus id justo vehicula, tempor orci in, efficitur felis. Ut imperdiet metus a porttitor imperdiet. Quisque maximus viverra bibendum. Etiam eu justo metus. Ut facilisis est ut ex imperdiet, non placerat quam aliquet. Nulla sit amet sagittis ex.</p>

          <p>In in felis quis tellus fringilla rhoncus. Fusce auctor elit ullamcorper, tempor nisl ut, luctus dolor. Praesent eu neque tellus. Fusce vitae nisl scelerisque, vulputate arcu id, elementum neque. Mauris sollicitudin lorem sit amet tortor scelerisque lacinia. Proin vulputate luctus magna, ac efficitur arcu eleifend non. Maecenas elementum maximus varius. Etiam sed nisl elementum, euismod ante ac, porta metus. Sed scelerisque turpis ut nibh consectetur tempor. Maecenas molestie id enim sit amet gravida. Nulla viverra nisi ultrices, tristique lorem in, porta justo.</p>

          <p>Mauris ac mi vitae quam consectetur sollicitudin a quis quam. Suspendisse consequat est at gravida fringilla. Sed id vulputate neque. Morbi quis mi eu arcu cursus ornare in nec odio. Cras porta luctus sem, in tincidunt nisl gravida at. Morbi eget gravida ligula. Mauris sem nunc, venenatis sed ante sed, faucibus vestibulum odio. Nulla vel nunc mattis, pretium magna vitae, iaculis turpis. Suspendisse sollicitudin justo nunc, vitae pretium augue iaculis eu. Etiam in aliquet augue. Vivamus blandit venenatis ligula, eget cursus neque aliquet et. Suspendisse nec mi in ligula lacinia pretium hendrerit non massa. Vivamus accumsan diam euismod porttitor gravida. Pellentesque ut magna a dolor dapibus maximus. Duis laoreet, dolor eget mattis lacinia, purus elit venenatis quam, in cursus magna est eget sem. Curabitur nec magna in nisl consectetur blandit ut nec elit.</p>

          <p>Praesent ullamcorper elit sit amet neque lobortis, eu vulputate arcu pulvinar. Pellentesque et ante vel velit elementum dignissim. Aliquam vehicula lobortis erat eu consectetur. Integer tincidunt rutrum massa, eget tincidunt turpis finibus vel. Proin a diam mauris. Aliquam commodo eros ac risus malesuada tincidunt. Phasellus convallis aliquam tempor.</p>

          <p>Nulla nulla turpis, luctus eu enim placerat, porta pretium mi. Nulla dictum venenatis erat cursus volutpat. Aenean fringilla mi nec velit ultrices auctor. Phasellus imperdiet odio eu porttitor semper. Nulla eget elit augue. Nulla facilisi. Cras finibus ipsum eros, in tristique nunc auctor quis. Proin lorem purus, posuere eu magna non, maximus semper lacus. Donec vitae metus id ex varius maximus. Vivamus tincidunt lacinia mi ac volutpat. Aenean ultricies nibh ipsum, ut molestie mauris auctor ac. Nam urna nunc, condimentum vitae luctus sit amet, placerat nec lorem. Etiam ornare sodales rhoncus.</p>

          <div class="author">
            
          </div>
        </div>
        <aside class="sidebar">
          <div class="sidebar--items">
          <div class="sidebar--series-menu">
            <h2>Series Title</h2>
              <ul>
                <li><a href="#">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></li>
                <li><a href="#">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></li>
                <li><a href="#">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></li>
                <li><a href="#">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></li>
                <li><a href="#">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></li>
              </ul>
          </div>          
          <div class="sidebar--recent-post">
            <h2>Recent Posts</h2>
              <ul>
                <li><a href="#">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></li>
                <li><a href="#">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></li>
                <li><a href="#">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></li>
                <li><a href="#">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></li>
                <li><a href="#">Aliquam in malesuada felis. Morbi egestas interdum condimentum.</a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </section>
  </div>
</div>
<footer class="footer">
  <div class="inner">
    <div class="footer--cols4">
      <div class="footer--branding">
        <a href="#"><img src="img/footer-logo.png" alt="Footer Logo"></a>
        <p class="copyright">&copy; Copyright 2016. JDLtechworks all rights reserved</p>
      </div>
      <div class="footer--social-icons">
        <div class="social--icons">
          <ul>
            <li><a href=""><img src="img/social/facebook.png" alt="" class="facebook"></a></li>
            <li><a href=""><img src="img/social/linkedin.png" alt="" class="linkedin"></a></li>
            <li><a href=""><img src="img/social/twitter.png" alt="" class="twitter"></a></li>
            <li><a href=""><img src="img/social/github.png" alt="" class="github"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer--cols4">
      <div class="footer--about">
        <h2>About Us</h2>
        <p>Ut facilisis interdum dolor in dignissim. Nunc tincidunt risus placerat accumsan aliquet. Nunc semper velit urna, id aliquam massa feugiat eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin metus lectus, dapibus eget commodo non, lacinia in metus. Vivamus pharetra neque eu semper tristique.</p> 
      </div>
    </div>
    <div class="footer--cols4">
      <div class="footer--newsletter-form">
        <form action="#" class="newsletter">
          <label for="email"><h2>Sign up for our newsletter</h2></label>
          <input name="email" type="email" placeholder="Email">
          <div class="form--submit">
            <button class="button success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
</body>
</html>