.banner {
	&--inquiry {
		.inner {
			position: relative;
			@include squish(1);
			padding: 5% 0;

			.col-4 {
				text-align: center;
				line-height: 8;
			}
		}
		background: #a0ce4e;
		h2, p {
			color: #fff;
			font-family: Arimo;
			letter-spacing: 2px;
		}
		h2 {
			@include mq($max-width: 980px) {
				font-size: 20px;
			}
			@include mq($max-width: 899px) {
				font-size: 16px;
				line-height: 1.5;
			}
		}
		p {
			@include mq($max-width: 899px) {
				font-size: 13px;
				line-height: 1.5;
			}
		}
		a {
	    display: inline-block;
	    padding: 12px 16px;
	    background: #a0ce4e;
	    color: #fff;
	    text-transform: uppercase;
	    border-radius: 5px;
	    border: 2px solid #fff;
	    font-size: 18px;
	    &:hover {
	    	opacity: 1;
	    	color: #a0ce4e;
	    	border: 1px solid #a0ce4e;
	    	background: #fff;
	    }
	    @include mq($max-width: 980px) {
	    	font-size: 16px;
	    	padding: 5px 16px;
	    }
		}
		&:after {
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-width: 36px;
			border-top-color: #a0ce4e;
			top: 100%;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
}