.button,
a.button {
  display: block;

  box-sizing: border-box;

  transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -webkit-transition: opacity 0.35s ease-in-out;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5px;
  padding: 10px 0;
  background: none;

  &.default {
    border: 1px solid #e6e6e6;
  }

  &.danger {
    border: 1px solid red;
  }

  &.warning {
    border: 1px solid yellow;
  }

  &.success {
    background: #9dbe68;
    border: 1px solid #9dbe68;
    color: #fff;

    &:hover {
      transition: opacity 0.35s ease-in-out;
      -moz-transition: opacity 0.35s ease-in-out;
      -webkit-transition: opacity 0.35s ease-in-out;
      background: rgba(243, 156, 18, 0.74);
      border: 1px solid rgba(243, 156, 18, 0.74);
      color: #fff;
    }
  }

  &.info {
    border: 1px solid blue;
  }
}
