.case--studies {
  position: relative;

  &-carousel {
    position: relative;

    &-content {
      position: absolute;
      border-bottom: 5px solid #9dbe68;
      height: 100%;
      background: rgba(255, 255, 255, .85);
      width: 100%;
      z-index: 99;
      top: 0;

      @include clearfix;

      &-inner {
        @include squish(1);

        bottom: 0;
        z-index: 100;
        padding-top: 5%;
        padding-bottom: 5%;
        position: absolute;

        h2 {
          font-size: 28px;
          color: #9dbe68;
        }

        p {
          font-size: 18px;
          color: rgba(0,0,0,.70);
          letter-spacing: 2px;
        }
      }
    }
  }
}
