.contact {
	&--details {
		ul {
			margin-top: 4em;
			li {
		    position: relative;
		    padding: 0 26% 5% 8%;
		    line-height: 1.5;
		    margin: 0 0 1.5em;
				i {
					font-size: 25px;
					position: absolute;
					left: 0;
					top: 0;
					color: #a0ce4e;
				}
				span {
					opacity: 1;
					color: #000;
				}
			}
		}	
	}
	&--container {
		@include clearfix;
		margin-top: 5%;
	}
	&--headings {
		text-align: center;
		@include clearfix;
		margin-bottom: 8.5em;
		h2 {
			position: relative;
			font-size: 40px;
			margin-bottom: 2em;
			width: 100px;
			display: inline-table;
			height: 100px;
			border-radius: 100%;
			background: #9dbe68;
			opacity: 1;
			margin-top: 2em;
			i {
				line-height: 2.5;
				vertical-align: middle;
				color: #fff;
				opacity: 1;
			}
		}
		p {
			line-height: 2;
			font-size: 16px;
			color: #999;
		}
		
	}
	&--details, 
	&--page-form {
		h2 {
			font-size: 18px;
    	i {
    		color: #9dbe68;
    	}
 			span {
				color: #a0ce4e;
			}
		}
	}
}