.hero-unit {
  @include layout(12 fluid 0.35 float inside);

  position: relative;

  &.landing {
    background: url("../img/hero/hero-landing.png") no-repeat fixed center top transparent;
    padding: 13% 0 15%;
    background-size: 100% 100%;
    @include clearfix;
    @include mq($max-width: 899px) {
      padding: 6% 0 15%;
    }
    @include mq($max-width: 724px) {
      padding: 3% 0 15%;
    }
  }
  &-btn {
    padding: 5px 25px;
    background: #a0ce4e;
    color: #fff;
    text-transform: uppercase;
    display: inline-table;
    font-size: 20px;
    border-radius: 5px;
    @include mq($max-width: 899px) {
      font-size: 16px;
    }
  }
  & h1 {
    font-family: orbitronMedium;
    color: #fff;
    letter-spacing: 5px;
    font-size: 40px;
    text-align: center;
    margin: 4% 0 2.5%;
    @include mq($max-width: 899px) {
      font-size: 30px;
    }
    @include mq($max-width: 724px) {
      font-size: 24px;
    }

    span.slash {
      color: #a0ce4e;
    }
  }

  & h2 {
    font-family: Roboto;
    letter-spacing: 2px;
    font-size: 33px;
    text-align: center;
    color: #fff;
    margin-bottom: 1.5em;
    @include mq($max-width: 899px) {
      font-size: 24px;
    }
    @include mq($max-width: 724px) {
      font-size: 20px;
    }
  }

  &--icon-container {
    @include squish(1);
  }

  &--hexagon-menu {
    font-size: 0;
    padding: 7% 0 8%;

    @include clearfix;

    @include layout(24 fluid 0 float inside);

    li {
      @include span(4);


      text-align: center;

      > a {
        @include clearfix;

        display: inline-table;
        background: url("../img/global/hexagon.png") no-repeat scroll top center transparent;
        width: 89px;
        height: 66px;
        padding: 15px 0 15px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
