.navbar {
  @include layout(12 fluid 0.35 float inside);

  @include clearfix;

  position: fixed;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  z-index: 1000;


  &--brand {
    @include span(4);

    padding-top: 27px;
    padding-bottom: 21px;
    text-align: center;


    > a {
      padding-left: 10px;
      display: inline-table;
    }
  }

  &--menu {
    @include span(8);
    > ul {
      float: right;
      font-size: 0;
      > li {
        display: table-cell;
        font-size: 0;
        position: relative;


        a {
          @include rtlUnderlineEffect;
          color: rgba(77, 77, 77, 0.8);
          padding: 25px 35px;
          font-family: orbitronMedium;

          &:hover,
          &:active,
          &:focus {
            color: rgba(77, 77, 77, 0.8);
          }

          &:active {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
