.navbar {
  @include layout(12 fluid 0 float inside);
  border-bottom: 1px solid #e6e6e6;
  line-height: 1.8;
  @include clearfix;
  padding: 0px 0 3px;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  &--wrapper {
    @include squish(1);
  }

  &--brand {
    @include span(4);

    padding: 30px 0;


    > a {
      padding-left: 10px;
      display: inline-table;
    }
  }

  &--menu {
    @include span(8);
    padding: 0;
    position: relative;
    > ul {
      @include clearfix;
      float: right;
      font-size: 0;
      > li:not(.magic-line) {
        display: table-cell;
        font-size: 0;
        a {
          color: #000;
          padding: 30px 20px;
          font-family: Roboto;
          border: none;
          line-height: 2.2;

          &:hover,
          &:active,
          &:focus,
          &.active {
            color: #a0ce4e;
          }

          &:active {
            color: #a0ce4e;
          }
        }
      }
      li.magic-line {
        position: absolute;
        border-bottom: 4px solid #a0ce4e;
        transition:all 0.2s ease;
        left: 0;
        bottom: 0;
        }
    }
  }
}

@include mq($max-width: 724px) {
  .navbar {
    position: inherit;
    &--brand {
      @include span(12);
      text-align: left;
      border-bottom: 1px solid #e6e6e6;
    }
    &--menu {
      @include span(12);
      position: relative;
      ul {
        float: none;
        > li:not(.magic-line) {
          display: block;
          border-bottom: 1px solid #e6e6e6;
        }
        li.magic-line {
          display: none;
        }
      }
    }
  }
}
