.navbar {
  @include layout(12 fluid 0.35 float inside);
  border-bottom: 1px solid #e6e6e6;
  line-height: 1.8;
  @include clearfix;
  padding: 0px 0 3px;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 1000;
  

  &--brand {
    @include span(4);

    padding-top: 27px;
    padding-bottom: 21px;
    text-align: center;


    > a {
      padding-left: 10px;
      display: inline-table;
    }
  }

  &--menu {
    @include span(8);
    padding: 0;
    position: relative;
    > ul {
      @include clearfix;
      float: right;
      font-size: 0;
      > li:not(.magic-line) {
        display: table-cell;
        font-size: 0;
        a {
          color: #999;
          padding: 27px 37px;
          font-family: Roboto;
          border: none;

          &:hover,
          &:active,
          &:focus,
          .active {
            color: rgba(77, 77, 77, 0.8);
          }

          &:active {
            opacity: 0.8;
          }
        }
      }
      li.magic-line {
        position: absolute;
        border-bottom: 4px solid #9dbe68;
        transition:all 0.3s ease;
        left: 0;
        }
    }
  }
}
