.services {
	&--container {
		@include clearfix;
		@include layout(12 0 fluid float inside);
		margin-top: 5%;
	}
	@include span(12);
	padding-right: 2.5%;
	padding-bottom: 5%;
	position: relative;
	padding-left: 7em;
	i {
		position: absolute;
		font-size: 4rem;
		left: 0;
		color: #a0ce4e;
	}
	h2 {
		margin-bottom: 1.7em;
		margin-top: 15px;
		color: #000;
		span {
			color: #a0ce4e;
		}
	}
}