.social {
  &--icons {
    @include clearfix;
    text-align: center;
  }
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    a {
      font-size: 20px;
      display: table;
      width: 40px;
      height: 40px;
      margin: 0 4px;
      text-align: center;
      i {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  &-circle {
    a {
      background: #a0ce4e;
      color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
    }
  }
}


