.team--container {
  @include layout(12 0 fluid float inside);
  margin-top: 10%;
  .team--member {
    @include span(6);
    @include clearfix;
    box-sizing: border-box;
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
    padding: 5% 8%;
    margin-bottom: 5%;
    img {
      display: inline;
      border-radius: 100%;
    }
    h2 {
      padding: 15px 0;
    }
    p {
      padding: 4% 5% 6%;
      text-align: left;
      line-height: 1.5;
    }
  }
}