.team--container {
@include layout(12 0 fluid float inside);
  .team--member {
    @include span(6);
    @include clearfix;
    position: relative;
    text-align: center;
    padding: 0 5% 5%;
    margin-bottom: 5%;
    img {
      display: inline;
      border-radius: 100%;
    }
    h2 {
      padding: 15px 0;
    }
    p {
      padding-top: 4%;
      padding-left: 5%;
      padding-bottom: 6%;
      text-align: left;
      line-height: 1.5;
    }
  }
}