.work-elements {
	@include layout(12 fluid 0 float inside);
	@include clearfix;
	position: relative;
	margin-bottom: 0;
  &--headings {
    padding: 10% 2% 5%;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    &-inner {
      @include squish(4);
      @include mq($max-width: 768px) {
        @include squish(1);
      }
      @include mq($max-width: 690px) {
        @include squish(2);
      }
      h2 {
        color: #000;
        letter-spacing: 10px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        text-transform: uppercase;
        padding: 1em 0;
        margin: 0 auto;
        line-height: 1.5;
        span {
          color: #a0ce4e;
          opacity: 1;
        }
        @include mq($max-width: 690px) {
          font-size: 24px;
        }
        @include mq($max-width: 582px) {
        	@include squish(0);
        }
      }
    }
  }
	&-inner {
		@include squish(1);
		@include clearfix;
		.col-4 {
			@include mq($max-width: 899px) {
				p { 
					text-align: center; 
				}
			}
			padding: 40px 25px 50px;
			font-family: Roboto Regular;
			h2 {
				margin: 0;
				i {
					color: #a0ce4e;
					font-size: 50px;
				}
			}
			h4 {
				font-size: 22px;
				font-family: quickSandRegular;
				font-weight: bold;
			}
			p {
				opacity: .85;
				letter-spacing: 1.5px;
				line-height: 1.7;
			}
		}
	}
}