.work-elements {
	@include layout(12 fluid 0 float inside);
	@include clearfix;
	position: relative;
	margin-bottom: 0;
	&-header {
		width: 15em;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		padding: 1em 0;
	}
	&-inner {
		@include clearfix;
		@include squish(1);
		center {
			h2 {
		    font-family: OpenSansRegular;
		    color: #000;
		    letter-spacing: 2px;
		    font-size: 30px;
		    margin: 4em auto 4.5em;
		    span {
		    	color: #a0ce4e;
		    }
			}
		}
		.col-3 {
			@include span(4);
			padding: 40px 25px 50px;
			font-family: Roboto Regular;
			h2 {
				margin: 0;
				i {
					color: #a0ce4e;
					font-size: 50px;
				}
			}
			h4 {
				font-size: 22px;
				font-family: quickSandRegular;
				font-weight: bold;
			}
			p {
				opacity: .85;
				letter-spacing: 1.5px;
				line-height: 1.7;
			}
		}
	}
}