@mixin font-face($style-name, $file, $family, $category: "") {
  $filepath: "/fonts/" + $family + "/" + $file;

  @font-face {
    font-family: #{$style-name};
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format("embedded-opentype"), url($filepath + ".woff") format("woff"), url($filepath + ".ttf") format("truetype"), url($filepath + ".svg#" + $style-name + "") format("svg");
  }

  %#{$style-name} {
    font: {
      @if $category != "" {
        family: #{$style-name}, #{$category};
      }
      @else {
        family: #{$style-name};
        weight: normal;
      }
    };
  }
}

@include font-face(openSansRegular, opensans-regular-webfont, opensans);

@include font-face(openSansBold, opensans_bold, openSansBold);

@include font-face(orbitronMedium, orbitron-medium-webfont, orbitron);

@include font-face(quickSandRegular, quicksand-regular-webfont, quicksand);

@include font-face(Roboto Regular, roboto-regular-webfont, roboto);

@include font-face(Roboto, roboto-regular-webfont, roboto);

@include font-face(Roboto Medium, roboto-medium-webfont, roboto);

@include font-face(FontAwesome, fontawesome-webfont, fontawesome);

@include font-face('Simple-Line-Icons', Simple-Line-Icons, Simple-Line-Icons);

@include font-face(Arimo , Arimo, arimo);