/* Containers */

$container-fluid: 100%;
$container: 85%;

/* Breakpoint */

$mobile-screens: max-width 767px;

$tablet-portait: max-width 1024px;

$tablet-landscape: 769px 1024px;

$small-legacy-desktop: 767px 989px;

$legacy-desktop-variation: 1025px 1039px;

$legacy-desktop: 1025px 1269px;

$medium-desktop: max-width 1279px;

$large-desktop: min-width 1280px;

$exclusive-desktop-min-max: 768px 1024px;

$exclusive-desktop: max-width 1024px;

// DEFAULT OPTIONS

// Prefix for Hover class names
$nameSpace: "hvr";

// Durations
$fastDuration: 0.1s;
$mediumDuration: 0.3s;
$slowDuration: 0.5s;

// Colors
$primaryColor: #e1e1e1;
$secondaryColor: #666;
$highlightColor: #ccc;
$activeColor: red;
$shadowColor: rgba(0, 0, 0, 0.6);

// Speech bubbles options
$tipWidth: 10px;
$tipHeight: 10px;
$tipColor: $primaryColor;

// Arrows options
$spaceBetweenTextAndArrows: 2.2em;

// Curl dimensions
$curlWidth: 25px;
$curlHeight: 25px;

// Curl colors
$revealAreaColor: white;
$curlLineColor: #aaa;
$curlTransitionColor: #ccc;
$curlLastColor: white;

// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true;
$moz: false;
$ms: false;
$o: false;

// Compile with or without classes
$includeClasses: true;
