body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: rgba(0,0,0,.7);
}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 13.8px;
  line-height: 1.6;
  letter-spacing: 2px;
  color: #999;
}

a {
  text-decoration: none;
  font-size: 13px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

img {
  display: block;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.inner {
  @include clearfix;
}

a {
  color: #9dbe68;
  display: block;
  border: 1px solid transparent;
  line-height: 1.8;

  &:hover {
    opacity: 0.7;
  }
}
