.main {
  @include layout(12 fluid 0 float inside);
  h2, h3, h4 {
    font-family: OpenSansRegular;
    letter-spacing: 2px;
    opacity: 1;
  }
  &--headings {
    padding: 10% 2% 5%;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    &-inner {
      @include squish(1);
      h2 {
        color: #000;
        letter-spacing: 10px;
        width: 15em;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        text-transform: uppercase;
        padding: 1em 0;
        margin: 0 auto;
        span {
          color: #a0ce4e;
          opacity: 1;
        }
      }
    }
  }
  overflow: hidden;

  &--inner {
    @include clearfix;
  }

  &--inner {
    @include squish(1);

    background: #fff;

    @include clearfix;

    margin-bottom: 15%;
  }

  &--banner {
    position: relative;
    min-height: 582px;
    img {
      width: 100%;
    }
    &:after {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(51, 105, 30, .7);
    }
    &-content {
      &-inner {
        position: absolute;
        left: 0;
        width: 65%;
        color: #fff;
        top: 50%;
        z-index: 1;
        padding-left: 5%;
        background: rgba(51, 105, 30, .9);
        padding-right: 7%;
        padding-bottom: 1.5em;
        padding-top: 2em;
    }
    }
  }

  &--content {
    position: relative;

    @include span(9);

    padding-left: 10%;
    padding-top: 120px;

    p {
      font-size: 14px;
      line-height: 1.8;
      margin-bottom: 3%;
    }
  }
  &.about {
    border-bottom: 1px solid #a0ce4e;
    position: relative;
    overflow: visible;
    &:after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid #a0ce4e;
      border-radius: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -1%;
      background: #fff;
    }
  }
}

.landing--page {
  margin-bottom: 10%;
}
