.main {
  @include layout(12 fluid 0 float inside);
  h2, h3, h4 {
    font-family: orbitronMedium;
    letter-spacing: 2px;
    opacity: 0.8;
  }
  &--headings {
    border-bottom: 5px solid #9dbe68;
    padding: 2% 2% 1%;
    margin-bottom: 0;
    text-align: center;
    &-inner {
      @include squish(1);
      h2 {
        color: rgba(0,0,0,.78);
        letter-spacing: 25px;
      }
    }
  }
  padding-bottom: 10%;
  overflow: hidden;

  &--inner {
    @include clearfix;
  }

  &--inner {
    @include squish(1);

    background: #fff;

    @include clearfix;

    margin-bottom: 5%;
  }

  &--banner {
    position: relative;
    margin-bottom: 3em;
    &:after {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(51, 105, 30, .7);
    }
    &-content {
      &-inner {
        position: absolute;
        left: 0;
        width: 65%;
        color: #fff;
        top: 50%;
        z-index: 1;
        padding-left: 5%;
        background: rgba(51, 105, 30, .9);
        padding-right: 7%;
        padding-bottom: 1.5em;
        padding-top: 2em;
    }
    }
  }

  &--content {
    position: relative;

    @include span(9);

    padding-right: 10%;
    padding-top: 120px;

    p {
      font-size: 14px;
      line-height: 1.8;
      margin-bottom: 3%;
    }
  }
}
