.main {
  @include layout(12 fluid 0 float inside);

  padding-bottom: 10%;
  overflow: hidden;

  &--inner {
    @include clearfix;
  }

  h2, h3, h4 {
    font-family: orbitronMedium;
    letter-spacing: 2px;
    opacity: 0.8;
  }

  &--inner {
    @include squish(1);

    background: #fff;

    @include clearfix;

    margin-bottom: 5%;
  }

  &--banner {
    height: 157px;
    background: rgba(243, 156, 18, 0.74);
    border-bottom: 1px solid #e6e6e6;
  }

  &--content {
    position: relative;

    @include span(9);

    padding-right: 10%;
    padding-top: 120px;

    p {
      font-size: 14px;
      line-height: 1.8;
      margin-bottom: 3%;
    }
  }
}
