.footer {
  @include layout(12 0 fluid float inside);

  background: #282828;
  border-top: 1px solid #e6e6e6;
  height: 138px;

  @include clearfix;

  .inner {
    background: #282828;
    @include mq($min-width: 1367px) {
        max-width: 1200px;
        margin: 0 auto;      
    }
  }
  &--cols4 {
    padding-top: 45px;
    @include span(4);
    @include mq($max-width: 768px) {
      @include span(12);
      &:not(:first-child) { padding-top: 0; }
      padding-bottom: 1em;
    }
  }

  &--branding {
    text-align: center;
    margin: 0 15px 15px;
    img {
      display: inline;
    }

    .copyright {
      margin: 0;
      font-size: 10px;
    }
  }

  &--about,
  &--newsletter-form {
    @include clearfix;

    padding: 0 39px 0 30px;

    h2 {
      margin-top: 0;
      font-family: orbitronMedium;
      color: #a0ce4e;
      margin-bottom: 8%;
      font-size: 18px;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }

    p {
      font-size: 13px;
    }
  }
  @include mq($min-width: 1367px) {

    &--social-icons {
      .social--icons {
        text-align: right;
      }
    }    
  }

}
