@include keyframes(back-pulse) {
  50% {
    color: rgba(32, 152, 209, 0.75);
  }
}


@mixin back-pulse {
  @include hacks;

  overflow: hidden;

  @include prefixed(transition-duration, $slowDuration);

  @include prefixed(transition-property, "color, background-color");

  &:hover,
  &:focus,
  &:active {
    @include prefixed(animation-name, back-pulse);

    @include prefixed(animation-duration, 1s);

    @include prefixed(animation-delay, $slowDuration);

    @include prefixed(animation-timing-function, linear);

    @include prefixed(animation-iteration-count, infinite);

    color: white;
  }
}

@mixin rtlUnderlineEffect {
  &:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    position: absolute;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
  }

  &:hover:after,
  &:active:after,
  &:focus:after {
    width: 102%;
    background: #95b75e;
  }
}
